section.aboutMe {
    h3 {
        font-size: 24px;
        margin: 0;
    }

    paper-button {
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width: $tablet) {
    section.aboutMe {

    }
}

@media only screen and (max-width: $mobile) {
    section.aboutMe {

    }
}