############
## Windows
############
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Mac
############
# Mac crap
.DS_Store

############
## PhpStorm
############
.idea
atlassian-ide-plugin.xml

############
## NPM modules
############
npm-debut.log
node_modules/

############
## SASS CACHE FOLDER
############
.sass-cache
