.site {
	/* GLOBAL */
	/* ============================================================================== */
	background: @lightGrey url('@{image-path}bg.jpg') top left repeat;
	color: @darkGrey;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	height: 100%;
	line-height: normal;

	h1, h2, h3, h4, h5, h6 {
		font-family: 'ChunkFiveRegular';
		font-weight: normal;
		margin: 0;
	}

	h1 {
		font-size: 24px;
		line-height: 59px;
		text-transform: uppercase;

		a {
			display: block;
		}

		span {
			padding-left: 10px;
		}
	}

	h2 {
		color: @green;
		font-family: 'Sarina', cursive;
		font-size: 60px;
		margin: 30px 0;
	}

	h3 {
		color: @green;
		font-family: 'Sarina', cursive;
		font-size: 40px;
		margin: 15px 0;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	ul, li {
		margin: 0;
		padding: 0;
	}

	li {
		list-style-type: none;
	}

	a:hover, a:active, a:focus {
		transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-webkit-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
	}

	.content {
		margin: 0 auto;
		max-width: 1060px;
	}

	.sprite {
		background: url('@{image-path}sprite.png') 0 0 no-repeat;
		height: 32px;
		overflow: hidden;
		vertical-align: middle;
		width: 32px;

		display: inline-block;
		*display: inline;
		zoom: 1;

		&.icon_about { background-position: 0 0; }
		&.icon_portfolio { background-position: -32px 0; }
		&.icon_skills { background-position: -64px 0; }
		&.icon_social { background-position: -96px 0; }
		&.icon_twitter_bird { background-position: -128px 0; }
		&.icon_zoom { background-position: -128px -32px; }
	}

	section {
		margin: 130px 0;
		padding: 0 10px;

		&:first-child {
			margin-top: 0;
			padding-top: 130px;
		}
	}

	/* HEADER */
	/* ============================================================================== */
	header {
		background: @midGrey url('@{image-path}bg_dark.jpg') top left repeat;
		padding: 8px 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 99;

		nav {
			font-family: 'ChunkFiveRegular';
			text-transform: uppercase;

			a {
				color: @orange;
				line-height: 59px;
				margin: 0 10px;

				display: inline-block;
				*display: inline;
				zoom: 1;

				filter: url(~"data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
				filter: gray; /* IE6-9 */
				-webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */

				&:hover, &:active, &:focus, &.active {
					filter: url(~"data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
					-webkit-filter: grayscale(0%);
				}
			}

			a:first-child {
				margin-left: 0;
			}

			a:last-child {
				margin-right: 0;
			}
		}
	}

	.language {
		border: 1px solid @green;
		border-right: 0;
		color: @lightGrey;
		padding: 1px 0 1px 1px;
		position: fixed;
		right: 0;
		text-align: center;
		top: 100px;
		width: 120px;

		.language_content {
			background-color: @green;

			a {
				display: block;
				padding: 10px 0;
			}
		}
	}

	/* ABOUT ME */
	/* ============================================================================== */
	.aboutMe {
		.presentation {
			background: url('@{image-path}me_big.png') left center no-repeat;
			font-size: 36px;
			font-style:	italic;
			margin: 0 0 60px 0;
			min-height: 286px;

			p {
				margin: 0;
				padding: 0 0 0 350px;
			}
		}

		.banner {
			background: url('@{image-path}banner.png') center top no-repeat;
			padding: 0 30px;

			p {
				color: #fff;
				font-size: 35px;
				font-weight: bold;
				line-height: 57px;
				margin: 0;
				padding: 0;
				text-align: center;
			}
		}
	}

	/* PORTFOLIO */
	/* ============================================================================== */
	.portfolio {
		.menu {
//			border-bottom: 2px solid @darkGrey;
			padding-bottom: 3px;

			h2 {
				margin-bottom: 0;
			}

			ul {
				font-family: 'ChunkFiveRegular';
				font-size: 22px;
				text-align: right;
				text-transform: uppercase;

				li {
					margin: 0 20px;

					display: inline-block;
					*display: inline;
					zoom: 1;

					a {
						padding: 10px;

						&.active, &:hover, &:active, &:focus {
							color: #fff;
							background-color: @green;
						}
					}
				}
			}
		}

		.slider {
			ul {
				margin: 50px auto;

				li {
					background: url('@{image-path}shadow.png') center bottom no-repeat;
					float: left;
					margin: 0 30px 15px 0;
					padding-bottom: 22px;

					.data {
						border: 8px solid #fff;
						position: relative;

						img {
							width: 300px;
						}

						.info {
							background-color: #fff;
							background-color: rgba(255, 255, 255, 0.7);
							bottom: 0;
							color: #000;
							display: none;
							font-weight: bold;
							padding: 10px 0;
							position: absolute;
							width: 100% !important; //important for jquery animation

							p {
								margin: 0;
								padding: 2px 10px;

								&.link {
									overflow: hidden;
									text-overflow: ellipsis;
									white-space: nowrap;

									a {
										text-decoration: underline;
									}
								}
							}
						}

						.zoom {
							background-color: #fff;
							background-color: rgba(255, 255, 255, 0.7);
							display: none;
							padding: 5px;
							position: absolute;
							right: 0;
							top: 0;
						}
					}
				}
			}
		}
	}

	/* SKILLS */
	/* ============================================================================== */
	.skills {
		.skillset {
			margin-bottom: 50px;

			li  {
				background-color: @lightGrey;
				display: block;
				font-size: 18px;
				margin-bottom: 10px;
				position: relative;

				.detail {
					line-height: 40px;
					padding: 0 15px;
					position: relative;
					z-index: 1;

					.left {
						color: #fff;
						font-family: 'ChunkFiveRegular';
						text-transform: uppercase;
					}

					.right {
						color: #000;
						font-weight: bold;
						text-align: right;
					}
				}

				.percent {
					background-color: @orange;
					left: 0;
					height: 40px;
					position: absolute;
					top: 0;
					width: 0;
					z-index: 0;
				}
			}
		}

		.interests li {
			background-color: @lightGrey;
			color: @darkGrey;
			font-family: 'ChunkFiveRegular';
			font-size: 18px;
			margin: 0 10px 10px 0;
			padding: 15px;

			display: inline-block;
			*display: inline;
			zoom: 1;

//			&:hover, &:active, &:focus {
//				background-color: @orange;
//				color: #fff;
//				cursor: pointer;
//
//				transition: all 0.2s ease;
//				-moz-transition: all 0.2s ease;
//				-webkit-transition: all 0.2s ease;
//				-o-transition: all 0.2s ease;
//			}
		}
	}

	/* SOCIAL */
	/* ============================================================================== */
	.social {
		.tweets {
			background: url('@{image-path}bird.png') left top no-repeat;
			min-height: 242px;
			padding-left: 350px;

			.tweet {
				min-height: 32px;
				padding: 5px 0 0 40px;
				position: relative;

				a {
					color: @orange;

					&:hover, &:active, &:focus {
						color: darken(@orange, 10%);
					}
				}

				.icon_twitter_bird {
					left: 0;
					position: absolute;
					top: 0;
				}
			}
		}
	}

	/* FOOTER */
	/* ============================================================================== */
	footer {
		background: @midGrey url('@{image-path}bg_dark.jpg') top left repeat;
		padding: 15px 0 5px 0;
		text-align: center;

		nav {
			font-size: 17px;

			a:hover, a:active, a:focus {
				color: @orange;
			}
		}

		ul {
			margin: 15px 0;

			li {
				height: 32px;
				overflow: hidden;
				width: 32px;

				display: inline-block;
				*display: inline;
				zoom: 1;

				&.email img {
					margin-left: -32px;
					margin-top: -32px;

					&.active {
						margin-left: -32px;
						margin-top: -64px;
					}
				}

				&.linkedIn img {
					margin-left: -64px;
					margin-top: -32px;

					&.active {
						margin-left: -64px;
						margin-top: -64px;
					}
				}

				&.skype img {
					margin-left: 0;
					margin-top: -32px;

					&.active {
						margin-left: 0;
						margin-top: -64px;
					}
				}

				&.twitter img {
					margin-left: -96px;
					margin-top: -32px;

					&.active {
						margin-left: -96px;
						margin-top: -64px;
					}
				}

				a {
					display: block;
					position: relative;

					img {
						left: 0;
						position: absolute;
						top: 0;
						z-index: 0;

						&.active {
							z-index: 1;
							opacity: 0;
						}
					}
				}
			}
		}

		.language_footer a {
			text-decoration: underline;
		}

		.legal {
			font-size: 12px;
		}
	}
}