body:after {
	background-color: red;
	color: #fff;
	display: block;
	font-weight: bold;
	left: 0;
	opacity: 0.4;
	padding: 5px;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 99999999999999;
}

@media only screen and (min-width: 880px) {
	body:after {
		content: 'desktop';
	}
}

@media only screen and (max-width: 879px) {
	body:after {
		content: 'tablet';
	}

	.site {
		h1, h2, h3 {
			text-align: center;
		}

		.left, .right {
			float: inherit;
			margin: 0 auto;
			text-align: center;
			width: 100%;
		}

		section {
			margin: 30px 0;

			&:first-child {
				margin: 30px 0;
				padding-top: 0;
			}
		}

		header {
			h1 {
				display: inline-block;
			}

			.language {
				border-right: 1px solid @green;
				bottom: inherit;
				font-size: 12px;
				padding-right: 1px;
				right: 2px;
				top: -2px;
				width: 90px;
			}
		}

		.aboutMe {
			.presentation {
				background-position: center top;
				font-size: 26px;
				margin-bottom: 20px;

				p {
					padding: 640px 10px 0 10px;
					text-align: center;
				}
			}

			.banner {
				margin-bottom: 50px;
			}
		}

		.portfolio {
			.menu {
				ul {
					text-align: center;

					li {
						margin-top: 20px;
					}
				}
			}
		}

		.skills {
			.detail {
				.left {
					float: left;
					width: auto;
				}

				.right {
					float: right;
					width: auto;
				}
			}

			.interests {
				ul {
					text-align: center;
				}
			}
		}

		.social {
			.tweets {
				background: none;
				padding-left: 0;

				p {
					max-width: 600px;
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
	}
}

@media only screen and (max-width: 524px) {
	body:after {
		content: 'mobile';
	}

	.site {
		header {
			.content {
				text-align: center;
			}

			h1 {
				text-indent: -9999px;
				width: 59px;
			}

			.left {
				display: inline-block;
				*display: inline;
				zoom: 1;

				width: auto;
			}

			nav.right {
				padding-left: 10px;
				vertical-align: middle;
				width: auto;

				display: inline-block;
				*display: inline;
				zoom: 1;

				a {
					height: 32px;
					text-indent: -9999px;
					overflow: hidden;
					margin: 0;
					padding: 8px;
					width: 32px;

					.sprite {
						display: block;
					}
				}
			}

			.language {
				display: none;
			}
		}

		.aboutMe {
			.banner {
				font-size: 20px;
			}
		}

		.portfolio {
			.menu {
				ul {
					li {
						margin-left: 0;
						margin-right: 0;
					}
				}
			}
		}
	}
}
