/* ABOUT ME */
/* ============================================================================== */
.aboutMe {
	.presentation {
		background: url('#{$image-path}me_big.png') left center no-repeat;
		font-size: 36px;
		font-style:	italic;
		margin: 0 0 60px 0;
		min-height: 286px;

		p {
			margin: 0;
			padding: 0 0 0 350px;
		}
	}

	.banner {
		background: url('#{$image-path}banner.png') center top no-repeat;
		padding: 0 30px;

		p {
			color: #fff;
			font-size: 35px;
			font-weight: bold;
			line-height: 57px;
			margin: 0;
			padding: 0;
			text-align: center;
		}
	}
}