body:after {
	background-color: red;
	color: #fff;
	display: none;
	font-weight: bold;
	left: 0;
	opacity: 0.4;
	padding: 5px;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 99999;
}

@media only screen and (min-width: 880px) {
	body:after {
		content: 'desktop';
	}
}

@media only screen and (max-width: 879px) {
	body:after {
		content: 'tablet';
	}

	#site {
		h1, h2, h3 {
			text-align: center;
		}

		.left, .right {
			float: inherit;
			margin: 0 auto;
			text-align: center;
			width: 100%;
		}

		section {
			margin: 30px 0;

			&:first-child {
				margin: 30px 0;
				padding-top: 0;
			}
		}

		header {
			.content {
				text-align: center;
			}

			.left {
				float: left;
				height: 40px;
				padding-left: 10px;
				width: auto;

				h1 {
					line-height: 40px;
					vertical-align: middle;

					display: inline-block;
					*display: inline;
					zoom: 1;

					img {
						height: 40px;
						width: 40px;
					}

					span {
						display: none;
					}
				}
			}

			nav.right {
				height: 40px;
				padding-left: 0;
				vertical-align: middle;
				width: auto;

				display: inline-block;
				*display: inline;
				zoom: 1;

				a {
					font-size: 12px;
					line-height: 40px;
					overflow: hidden;
					margin: 0;
				}
			}
		}

		.language {
			border: 0;
			margin-top: 55px;
			position: inherit;
			text-align: right;
			width: auto;

			.language_content {
				display: inline-block;
				*display: inline;
				zoom: 1;

				a {
					padding: 10px;
				}
			}
		}

		.aboutMe {
			.presentation {
				background: url('#{$image-path}me.png') center top no-repeat;
				font-size: 26px;
				margin-bottom: 20px;
				padding-top: 220px;
				min-height: 0;

				p {
					padding: 10px;
					text-align: center;
				}
			}

			.banner {
				margin-bottom: 50px;
				padding: 0;

				p {
					font-size: 30px;
				}
			}
		}

		.portfolio .menu ul {
			text-align: center;

			li {
				margin-top: 20px;
			}
		}

		.skills {
			.detail {
				.left {
					float: left;
					width: auto;
				}

				.right {
					float: right;
					width: auto;
				}
			}

			.interests ul {
				text-align: center;
			}
		}

		.social {
			.tweets {
				background: none;
				padding-left: 0;

				p {
					max-width: 600px;
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
	}
}

@media only screen and (max-width: 524px) {
	body:after {
		content: 'mobile';
	}

	#site {
		section:first-child {
			margin-top: 20px;
		}

		header nav.right {
			float: right;
			padding-right: 10px;

			a {
				margin: 0;
				padding: 5px 6px;

				.text {
					display: none;
				}

				.sprite {
					display: block;
				}
			}
		}

		.language {
			font-size: 13px;
		}

		.aboutMe {
			h2 {
				margin-bottom: 10px;
				margin-top: 20px;
			}

			.presentation {
				background-image: url('#{$image-path}me_small.png');
				font-size: 22px;
				padding-top: 165px;
			}

			.banner p {
				font-size: 20px;
				line-height: 40px;
			}
		}

		.portfolio {
			.slider ul li {
				margin-right: 0;
			}

			.menu ul li {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
}
