<link rel="import" href="../assets/src/js/lib/polymer/polymer.html">
<link href="../assets/src/js/lib/paper-card/paper-card.html" rel="import">
<link href="../assets/src/js/lib/paper-button/paper-button.html" rel="import">
<link href="../assets/src/js/lib/iron-icons/iron-icons.html" rel="import">

<dom-module id="poly-portfolio">
    <template>
        <section class="portfolio" id="portfolio">
            <h2 class="light-blue-text text-accent-2">Portfolio</h2>
            <ul class="portfolioList"></ul>

            <paper-card heading="Toyota - Une vraie bonne raison" image="/assets/img/portfolio/toyota_thumb.jpg" style="max-width: 400px;">
                <div class="card-content">
                    Date: <strong>2015</strong><br/>
                    While working at: <strong><a href="http://u92.com">U92</a></strong>
                </div>

                <div class="card-actions light-blue-text text-darken-4">
                    <a href="http://unevraiebonneraison.ca">
                        <paper-button>Visit website</paper-button>
                    </a>
                </div>
            </paper-card>

            <h3 class="light-blue-text text-accent-2">Other projects</h3>

            <!--<paper-icon-button icon="arrow-forward"></paper-icon-button>-->

            <div class="other-projects">
                <a href="https://github.com/djanix/base-structure">
                    <paper-button raised class="white light-blue-text text-darken-4">
                        Base project boilerplate
                    </paper-button>
                </a>

                <a href="http://djanix.github.io/jquery.switcher/">
                    <paper-button raised class="white light-blue-text text-darken-4">
                        jQuery switcher
                    </paper-button>
                </a>

                <a href="./experiments/leap_motion/index.html">
                    <paper-button raised class="white light-blue-text text-darken-4">
                        Leap motion basic experiment
                    </paper-button>
                </a>
            </div>
        </section>
    </template>

    <script>
        Polymer({
            is: "poly-portfolio"
        });
    </script>
</dom-module>