<link rel="import" href="../assets/src/js/lib/polymer/polymer.html">
<link href="../assets/src/js/lib/paper-button/paper-button.html" rel="import">

<dom-module id="poly-skills">
    <template>
        <section class="skills" id="skills">
            <div class="skillset">
                <h2 class="light-blue-text text-accent-2">My Skills</h2>

                <!-- light-blue lighten-4 -->
                <paper-button class="white light-blue-text text-darken-4">
                    <div class="detail clearfix">
                        <span class="left">Responsive Web Design</span>
                        <span class="right">0%</span>
                    </div>
                    <div class="percent" data-percent="98"></div>
                </paper-button>

                <paper-button class="white light-blue-text text-darken-4">
                    <div class="detail clearfix">
                        <span class="left">Javascript</span>
                        <span class="right">0%</span>
                    </div>
                    <div class="percent" data-percent="90"></div>
                </paper-button>

                <paper-button class="white light-blue-text text-darken-4">
                    <div class="detail clearfix">
                        <span class="left">Photoshop</span>
                        <span class="right">0%</span>
                    </div>
                    <div class="percent" data-percent="75"></div>
                </paper-button>

                <paper-button class="white light-blue-text text-darken-4">
                    <div class="detail clearfix">
                        <span class="left">Php</span>
                        <span class="right">0%</span>
                    </div>
                    <div class="percent" data-percent="45"></div>
                </paper-button>
            </div>

            <h3 class="light-blue-text text-accent-2">Interests</h3>

            <div class="chip amber darken-3 grey-text text-lighten-5">NodeJS</div>
            <div class="chip amber darken-3 grey-text text-lighten-5">React</div>
            <div class="chip amber darken-3 grey-text text-lighten-5">Angular</div>
            <div class="chip amber darken-3 grey-text text-lighten-5">Grunt / Gulp</div>
            <div class="chip amber darken-3 grey-text text-lighten-5">Git</div>
            <div class="chip amber darken-3 grey-text text-lighten-5">Arduino</div>
        </section>
    </template>

    <script>
        Polymer({
            is: "poly-skills"
        });
    </script>
</dom-module>