.aboutMe {
	.presentation {
		font-size: 2.4rem;
		font-style:	italic;
		margin: 0 0 60px 0;
	}

    .me,
    .description {
        display: inline-block;
        vertical-align: middle;
    }

    .me {
        padding-right: 20px;
        width: 30%;
    }

    .description {
        width: 70%;
    }

	.banner {
		background: url('#{$image-path}banner.png') center top no-repeat;
		padding: 0 30px;

		p {
			color: #fff;
			font-size: 2.34rem;
			font-weight: bold;
			line-height: 1.63em;
			margin: 0;
			padding: 0;
			text-align: center;
		}

        a {
            display: block;
        }
	}
}

@media only screen and (max-width: $tablet) {
    .aboutMe {

    }
}

@media only screen and (max-width: $mobile) {
    .aboutMe {

    }
}