header {
    background: $midGrey url('#{$image-path}bg_dark.jpg') top left repeat;
    padding: 8px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;

    nav {
        font-family: 'ChunkFiveRegular';
        text-transform: uppercase;

        a {
            @include filter(grayscale, 100%);
            color: $orange;
            line-height: 59px;
            padding: 0 5px;

            display: inline-block;
            *display: inline;
            zoom: 1;

            &:first-child {
                padding-left: 0;
            }

            &.last {
                padding-right: 0;
            }

            &:hover, &:active, &:focus, &.active {
                @include filter(grayscale, 0%);
            }
        }
    }
}

.content {
    text-align: center;
}

.left {
    float: left;
    height: 40px;
    padding-left: 10px;
    width: auto;

    h1 {
        line-height: 40px;
        vertical-align: middle;

        display: inline-block;
        *display: inline;
        zoom: 1;

        img {
            height: 40px;
            width: 40px;
        }

        span {
            display: none;
        }
    }
}

@media only screen and (max-width: $tablet) {
    header {
        nav.right {
            height: 40px;
            padding-left: 0;
            vertical-align: middle;
            width: auto;

            display: inline-block;
            *display: inline;
            zoom: 1;

            a {
                font-size: 12px;
                line-height: 40px;
                overflow: hidden;
                margin: 0;
            }
        }
    }
}

@media only screen and (max-width: $mobile) {
    header {
        nav.right {
            float: right;
            padding-right: 10px;

            a {
                margin: 0;
                padding: 5px 6px;

                .text {
                    display: none;
                }

                .sprite {
                    display: block;
                }
            }
        }
    }
}