header {
    background: $midGrey url('#{$image-path}bg_dark.jpg') top left repeat;
    line-height: 4em;

    nav {
        font-family: 'ChunkFiveRegular';
        text-transform: uppercase;

        a {
            @include filter(grayscale, 100%);
            color: $orange;
            display: inline-block;
            padding-left: 10px;
            vertical-align: middle;

            &:first-child {
                padding-left: 0;
            }

            &:hover, &:active, &:focus, &.active {
                @include filter(grayscale, 0%);
            }
        }
    }

    h1 {
        display: inline-block;
        vertical-align: middle;

        img {
            height: auto;
            width: 40px;
        }
    }
}

@media only screen and (max-width: $tablet) {
    header {
        h1 .text {
            display: none;
        }
    }
}

@media only screen and (max-width: $mobile) {
    header {
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;

        h1 img {
            width: 30px;
        }

        nav .text {
            display: none;
        }
    }
}