header {
    background: $midGrey url('#{$image-path}bg_dark.jpg') top left repeat;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;

    nav {
        font-family: 'ChunkFiveRegular';
        text-transform: uppercase;

        a {
            @include filter(grayscale, 100%);
            color: $orange;
            display: inline-block;
            line-height: 4rem;
            padding-left: 10px;

            &:first-child {
                padding-left: 0;
            }

            &:hover, &:active, &:focus, &.active {
                @include filter(grayscale, 0%);
            }
        }
    }
}

.left {
    line-height: 4rem;

    h1 {
        line-height: 4rem;
        vertical-align: middle;

        display: inline-block;
        *display: inline;
        zoom: 1;

        img {
            height: auto;
            width: 40px;
        }
    }
}

@media only screen and (max-width: $tablet) {
    header {

    }
}

@media only screen and (max-width: $mobile) {
    header {

    }
}