<footer>
	<div class="content">
		<nav>
			<a href="/about" data-smooth-scroll="#aboutMe">{{copy.presentation_title}}</a> -
			<a href="/skills" data-smooth-scroll="#skills">{{copy.skills_title}}</a> -
			<a href="/portfolio" data-smooth-scroll="#portfolio">{{copy.portfolio_title}}</a> -
			<a href="/social" data-smooth-scroll="#social">{{copy.social_title}}</a>
		</nav>

		<ul>
			<li class="linkedIn" data-social-toggle-icons>
				<a href="http://www.linkedin.com/pub/janic-beauchemin/20/186/a69">
					<img src="../../img/design/sprite.png" alt="{{copy.social_linkedin}}" title="{{copy.social_linkedin}}" />
					<img class="active" src="../../img/design/sprite.png" alt="{{copy.social_linkedin}}" title="{{copy.social_linkedin}}" />
				</a>
			</li>

			<li class="twitter" data-social-toggle-icons>
				<a href="https://twitter.com/janiclb">
					<img src="../../img/design/sprite.png" alt="{{copy.social_twitter}}" title="{{copy.social_twitter}}" />
					<img class="active" src="../../img/design/sprite.png" alt="{{copy.social_twitter}}" title="{{copy.social_twitter}}" />
				</a>
			</li>

			<li class="email" data-social-toggle-icons>
				<a href="mailto:info@janicbeauchemin.com">
					<img src="../../img/design/sprite.png" alt="{{copy.social_email}}" title="{{copy.social_email}}" />
					<img class="active" src="../../img/design/sprite.png" alt="{{copy.social_email}}" title="{{copy.social_email}}" />
				</a>
			</li>

			<li class="skype" data-social-toggle-icons>
				<a href="skype:janicbeauchemin?chat">
					<img src="../../img/design/sprite.png" alt="{{copy.social_skype}}" title="{{copy.social_skype}}" />
					<img class="active" src="../../img/design/sprite.png" alt="{{copy.social_skype}}" title="{{copy.social_skype}}" />
				</a>
			</li>
		</ul>

		<p class="language_footer"><a href="/" data-change-language="fr">fr</a> / <a href="/" data-change-language="en">en</a></p>
		<p class="legal">{{copy.footer_name}} - {{currentYear}} - {{copy.footer_rights}}</p>
	</div>
</footer>