<footer>
	<div class="content">
		<nav>
			<a href="/about">{{copy.menu_1}}</a> -
			<a href="/portfolio">{{copy.menu_2}}</a> -
			<a href="/skills">{{copy.menu_3}}</a> -
			<a href="/social">{{copy.menu_4}}</a>
		</nav>

		<ul>
			<li class="linkedIn" data-social-toggle-icons>
				<a href="#">
					<img src="../../img/design/sprite.png" alt="{{copy.social_linkedin}}" title="{{copy.social_linkedin}}" />
					<img class="active" src="../../img/design/sprite.png" alt="{{copy.social_linkedin}}" title="{{copy.social_linkedin}}" />
				</a>
			</li>

			<li class="twitter" data-social-toggle-icons>
				<a href="#">
					<img src="../../img/design/sprite.png" alt="{{copy.social_twitter}}" title="{{copy.social_twitter}}" />
					<img class="active" src="../../img/design/sprite.png" alt="{{copy.social_twitter}}" title="{{copy.social_twitter}}" />
				</a>
			</li>

			<li class="email" data-social-toggle-icons>
				<a href="#">
					<img src="../../img/design/sprite.png" alt="{{copy.social_email}}" title="{{copy.social_email}}" />
					<img class="active" src="../../img/design/sprite.png" alt="{{copy.social_email}}" title="{{copy.social_email}}" />
				</a>
			</li>

			<li class="skype" data-social-toggle-icons>
				<a href="#">
					<img src="../../img/design/sprite.png" alt="{{copy.social_skype}}" title="{{copy.social_skype}}" />
					<img class="active" src="../../img/design/sprite.png" alt="{{copy.social_skype}}" title="{{copy.social_skype}}" />
				</a>
			</li>
		</ul>

		<p class="legal">{{copy.footer_name}} - 2013 - {{copy.footer_rights}}</p>
	</div>
</footer>