<header>
	<div class="content clearfix">
		<div class="left">
			<h1>
				<a href="/">Janic Beauchemin</a>
			</h1>
		</div>

		<nav class="right">
			<a class="aboutMe active" href="/about" data-smooth-scroll="#aboutMe">
				<span class="sprite icon_about"></span>
				{{copy.menu_1}}
			</a>

			<a class="skills" href="/skills" data-smooth-scroll="#skills">
				<span class="sprite icon_skills"></span>
				{{copy.menu_2}}
			</a>

			<a class="portfolio" href="/portfolio" data-smooth-scroll="#portfolio">
				<span class="sprite icon_portfolio"></span>
				{{copy.menu_3}}
			</a>

			<a class="social" href="/social" data-smooth-scroll="#social">
				<span class="sprite icon_social"></span>
				{{copy.menu_4}}
			</a>
		</nav>
	</div>

	<div class="language" data-ng-controller="languageCtrl">
		<div class="language_content">
			<a href="/" data-change-language>{{copy.language}}</a>
		</div>
	</div>
</header>