<header>
	<div class="circles circleLeft">&nbsp;</div>
	<div class="circles circleRight">&nbsp;</div>

	<div class="content clearfix">
		<div class="left">
			<h1>
				<a href="/">
					<img src="img/design/logo.jpg" alt="{{copy.global_title}}">
				</a>
			</h1>
		</div>

		<div class="menu right">
			<ul class="clearfix">
				<li>
					<a href="/about">
						<span class="title">{{copy.global_menu_1}}</span>
						<span class="description">{{copy.global_menu_sub_1}}</span>
					</a>
				</li>

				<li>
					<a href="/portfolio">
						<span class="title">{{copy.global_menu_2}}</span>
						<span class="description">{{copy.global_menu_sub_2}}</span>
					</a>
				</li>

				<li>
					<a href="/contact">
						<span class="title">{{copy.global_menu_3}}</span>
						<span class="description">{{copy.global_menu_sub_3}}</span>
					</a>
				</li>
			</ul>
		</div>

		<div class="language">
			<a href="/" data-change-language>{{copy.global_language}}</a>
		</div>
	</div>
</header>