<div class="presentationBloc">
	<div class="presentation">
		<h3>{{copy.home_presentation_brief_title}}</h3>

		<p>{{copy.home_presentation_brief_text}}</p>

		<!--<p class="center">-->
		<!--<a href="/assets/documents/CV_JanicBeauchemin_FR.pdf">Download my C.V.</a>-->
		<!--</p>-->

		<!--<p class="center">-->
		<!--<a href="http://vimeo.com/18434230">View my Demo Reel</a>-->
		<!--<p>-->
	</div>

	<div class="programming">
		<h3>{{copy.home_presentation_skills_title}}</h3>

		<ul>
			<li>Web development</li>
			<li>HTML</li>
			<li>CSS</li>
			<li>JavaScript / jQuery</li>
			<li>Photoshop</li>
			<li>PHP</li>
		</ul>
	</div>

	<div class="design">
		<h3>{{copy.home_presentation_interests_title}}</h3>

		<ul>
			<li>AngularJS</li>
			<li>NodeJS</li>
			<li>Backbone</li>
			<li>Twig</li>
			<li>Arduino</li>
		</ul>
	</div>

	<div class="graph">
		<img src="img/design/graph.gif" alt="60% programming / 40% design" height="133" width="134">
	</div>
</div>

<div class="separator"></div>

<div class="slider webSection">
	<h2>{{copy.work_web_title}}</h2>

	<ul class="web">
		<li data-ng-repeat="webItem in web | filter:query | orderBy:orderProp" data-check-last>
			<a class="tip" href="#">
				<img src="" data-ng-src="{{webItem.thumb}}" alt="" />
			</a>

			<p class="subtitle"><a href="#/work/web/{{webItem.link}}">{{webItem.title}} ({{webItem.date}})</a></p>
		</li>
	</ul>
</div>

<p class="more"><a href="#">{{copy.global_more}}</a></p>

<div class="slider otherSection">
	<h2>{{copy.work_other_title}}</h2>

	<ul class="other">
		<li data-ng-repeat="otherItem in other | filter:query | orderBy:orderProp" data-check-last>
			<a class="tip" href="#">
				<img src="" data-ng-src="{{otherItem.thumb}}" alt="" />
			</a>

			<p class="subtitle"><a href="#/work/other/{{otherItem.link}}">{{otherItem.title}} ({{otherItem.date}})</a></p>
		</li>
	</ul>
</div>

<p class="more"><a href="#">{{copy.global_more}}</a></p>