<section class="aboutMe" id="aboutMe" data-menu-activation>
	<h2 data-fit-text>{{copy.presentation_title}}</h2>

	<div class="presentation">
		<p data-vert-align>{{copy.presentation_text}}</p>
	</div>

	<div class="banner">
		<p><a href="mailto:info@janicbeauchemin.com">{{copy.presentation_banner}}</a></p>
	</div>
</section>

<section class="skills" id="skills" data-menu-activation>
	<div class="skillset">
		<h2 data-fit-text>{{copy.skills_title}}</h2>

		<ul>
			<li data-skill-percentage>
				<div class="detail clearfix">
					<span class="left">{{copy.skill_1}}</span>
					<span class="right">0%</span>
				</div>
				<div class="percent" data-percent="{{copy.skill_1_percent}}"></div>
			</li>

			<li data-skill-percentage>
				<div class="detail clearfix">
					<span class="left">{{copy.skill_2}}</span>
					<span class="right">0%</span>
				</div>
				<div class="percent" data-percent="{{copy.skill_2_percent}}"></div>
			</li>

			<li data-skill-percentage>
				<div class="detail clearfix">
					<span class="left">{{copy.skill_3}}</span>
					<span class="right">0%</span>
				</div>
				<div class="percent" data-percent="{{copy.skill_3_percent}}"></div>
			</li>

			<li data-skill-percentage>
				<div class="detail clearfix">
					<span class="left">{{copy.skill_4}}</span>
					<span class="right">0%</span>
				</div>
				<div class="percent" data-percent="{{copy.skill_4_percent}}"></div>
			</li>
		</ul>
	</div>

	<div class="interests">
		<h3>{{copy.interests}}</h3>

		<ul>
			<li>{{copy.interests_1}}</li>
			<li>{{copy.interests_2}}</li>
			<li>{{copy.interests_3}}</li>
			<li>{{copy.interests_4}}</li>
			<li>{{copy.interests_5}}</li>
		</ul>
	</div>
</section>

<section class="portfolio" id="portfolio" data-menu-activation>
	<div class="menu clearfix">
		<h2 data-fit-text>{{copy.portfolio_title}}</h2>

		<ul data-isotope-category>
			<li><a href="#" data-filter="*">{{copy.portfolio_cat_1}}</a></li><li>
			<a href="#" data-filter=".web" class="active">{{copy.portfolio_cat_2}}</a></li><li>
			<a href="#" data-filter=".3d">{{copy.portfolio_cat_3}}</a></li><li>
			<a href="#" data-filter=".design">{{copy.portfolio_cat_4}}</a></li>
		</ul>
	</div>

	<div class="slider">
		<ul>
			<li class="{{workItem.category}}" data-ng-repeat="workItem in work" data-load-isotope>
				<div class="data" data-work-hover>
					<div class="picture">
						<a rel="portfolio" href="" data-ng-href="/img/portfolio/{{workItem.images.selected}}" data-fancybox>
							<img src="" data-ng-src="/img/portfolio/{{workItem.images.thumb}}" alt="" />
						</a>
					</div>

					<div class="info">
						<p>{{workItem.title}}</p>
						<p>{{copy.portfolio_txt_1}}: {{workItem.category}}</p>
						<!--<p>{{copy.portfolio_txt_4}}: {{workItem.desc}}</p>-->
						<p class="link">{{copy.portfolio_txt_2}}: <a href="{{workItem.link}}">{{workItem.link}}</a></p>
						<p>{{copy.portfolio_txt_3}}: {{workItem.date}}</p>
					</div>

					<div class="zoom">
						<a class="sprite icon_zoom" rel="portfolio" href="" data-ng-href="{{workItem.images[0]}}" data-fancybox></a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>

<section class="social" id="social" data-menu-activation>
	 <h2 data-fit-text>{{copy.social_title}}</h2>

	<div class="tweets" data-ng-controller="twitterFeedCtrl">
		<p class="tweet" data-ng-repeat="tweet in tweets">
			<span class="sprite icon_twitter_bird"></span><span class="text" data-twitter-styling>{{tweet.text}}</span>
		</p>
	</div>
</section>